<div class="container">
  
<h2>Coin Count History <small>Every collection!</a></small></h2>

  <h3>The last collection total was <%= currency(@lastt) %> and you have <%= currency(@totalcorrected) %>)</h3>
  <h6>on <%= @lasttotal.created_on %> at <%= @lasttotal.created_at %></h6>
  
  <ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <center><h2><%= @lasttotal.penny%></h2></center>
      <center><h3>Pennies</h3></center>
      <center><p>That's  <%= currency(@lastpennymoney) %></p></center>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <center><h2><%= @lasttotal.nickel%></h2></center>
      <center><h3>Nickels</h3></center>
      <center><p>That's  <%= currency(@lastnickelmoney) %></p></center>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <center><h2><%= @lasttotal.dime%></h2></center>
      <center><h3>Dimes</h3></center>
      <center><p>That's  <%= currency(@lastdimemoney) %></p></center>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <center><h2><%= @lasttotal.quarter%></h2></center>
      <center><h3>Quarters</h3></center>
      <center><p>That's  <%= currency(@lastquartermoney) %></p></center>
    </div>
  </li>
</ul>

    


<table class="table table-hover">
  <caption>All Coin Sorting Events</caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Pennies</th>
      <th>Nickels</th>
      <th>Dimes</th>
      <th>Quarters</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
      <% for thissort in @savings %>
    <tr>

      <td><%= thissort.created_on %></td>
      <td> tbd </td>
      <td><%= thissort.penny %></td>
      <td><%= thissort.nickel %></td>
      <td><%= thissort.dime %></td>
      <td><%= thissort.quarter %></td>
      <td><%= currency(thissort.total.to_f/100) %></td>
     
    </tr>
    <%end%>
  </tbody>
</table>
</div>
    
</div>
