<div class="container">
  <h1>Coins Collected</h1>
  <p>Total saved: <%= currency(@lasttotal.total) %></p>
  <p>Total number of pennies collected <%= @totalpenny %> </p>
  <% if (@pennymoney > 0)%>
  <p>That's <%= currency(@pennymoney) %> </p>
  <% end %>
  <p>Total number of nickels collected <%= @totalnickel %> </p>
  <% if (@nickelmoney > 0)%>
  <p>That's <%= currency(@nickelmoney) %> </p>
  <% end %>
  <p>Total number of dimes collected <%= @totaldime %> </p>
  <% if (@dimemoney > 0)%>
  <p>That's <%= currency(@dimemoney) %> </p>
  <% end %>
  <p>Total number of quarters collected <%= @totalquarter %> </p>
  <% if (@quartermoney > 0)%>
  <p>That's <%= currency(@quartermoney) %> </p>
  <% end %>
</div>
<!-- /container -->